<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Mr Gru </title>
  <link href="static/img/favicon.png" rel="icon" type="image/png">
  <!-- <link href="static/css/xterm.min.css" rel="stylesheet" type="text/css" /> -->
  <!-- <link href="static/css/style.css" rel="stylesheet" type="text/css" /> -->
</head>

<body>
  <h1>{{.title}}</h1>
  hello

  <pre id="output"></pre>


  <script src="static/js/jquery-3.6.0.min.js"></script>
  <script src="static/js/xterm-4.13.0.min.js"></script>
  <script src="static/js/xterm-addon-fit.min.js"></script>
  <script src="static/js/main.js"></script>

</body>

</html>