<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Mr Gru </title>
  <link href="static/img/favicon.png" rel="icon" type="image/png">
  <link href="static/css/xterm.min.css" rel="stylesheet" type="text/css" />
  <link href="static/css/term.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1>xterm.js demo page</h1>

  <div id="terminal"></div>

  <script src="static/js/jquery-3.6.0.min.js"> </script>
  <script src="static/js/xterm-4.13.0.min.js"></script>
  <script src="static/js/xterm-addon-fit.min.js"></script>
  <script src="static/js/xterm-addon-attach.min.js"></script>
  <script src="static/js/xterm-addon-unicode11.js"></script>
  <script src="static/js/xterm-addon-web-links.js"></script>
  <script src="static/js/xterm-addon-serialize.js"></script>
  <script src="static/js/term.js"></script>
</body>

</html>